@import "reset";
@import "colors";
@import "grid";
@import "header";
@import "navbar";

main {
  .container {
    align-content: center;
    flex-wrap: wrap;
    h2 {
        align-self: center;
        position: relative;
        width: 100%;
        color: var(--texts-base, #6a6180);
        font-family: Poppins;
        font-size: 2.6rem;
        font-style: normal;
        line-height: 2.6rem; /* 100% */
        font-weight: 500;
        letter-spacing: 0.02rem;
        margin-top: 3.2rem;
        margin-bottom: 3.9rem;
        text-align: center;
    }
    #map {
        width: 1200px;
        height: 400px;
        margin: auto;
    }
  }
}